<h1>Stupid Coaching</h1>

<div class="question">
<p><%= params[:ask] %></p>
<p class='user'>- You</p>
</div>

<div class="answer">
<p> <%= @answer %> </p>
<p class='user'>- Your Coach</p>
</div>

<%= link_to 'Ask another question', ask_path %>
